<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Online IDE</title>
    {% load static %}

    <link rel=stylesheet href="{% static 'codemirror/lib/codemirror.css' %}">
    <link rel=stylesheet href="{% static 'codemirror/doc/docs.css' %}">
    <link rel=stylesheet href="{% static 'codemirror/addon/hint/show-hint.css' %}"/>
    <script src="{% static 'codemirror/lib/codemirror.js' %}"></script>
    <script src="{% static 'codemirror/mode/clike/clike.js' %}"></script>
    <script src="{% static 'codemirror/addon/edit/matchbrackets.js' %}"></script>
    <script src="{% static 'codemirror/addon/hint/show-hint.js' %}"></script>
    <style>
        .CodeMirror pre {
            padding-left: 7px;
            line-height: 1.25;
        }

        .banner {
            background: #ffc;
            padding: 6px;
            border-bottom: 2px solid silver;
            text-align: center
        }
    </style>
</head>
<body>
<form style="position: relative; margin-top: .5em;"><textarea id=editor>
#include <iostream>
using namespace std;
int main() {
    return 0;
}
</textarea>
</form>
<style>
    @import "//fonts.googleapis.com/css?family=Source+Code+Pro:200,700";
</style>
<div class="mac-window active">
  <div class="title-bar">
    <div class="buttons">
      <div class="close"></div>
      <div class="minimize"></div>
      <div class="maximize"></div>
    </div>
    <div class="title">
      Terminal
    </div>
  </div>
  <div class="window">
    <div id="command-line" class="command-line"></div>
  </div>
</div>
<script>
    const myCodeMirror = CodeMirror.fromTextArea(document.getElementById('editor'), {
        lineNumbers: true,
        matchBrackets: true,
        mode: "text/x-c++src",
    });
    var mac = CodeMirror.keyMap.default == CodeMirror.keyMap.macDefault;
    CodeMirror.keyMap.default[(mac ? "Cmd" : "Ctrl") + "-Space"] = "autocomplete";
</script>
</body>
</html>